{{- if and .Values.certificates.server.enabled .Values.certificates.server.generate }}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: "{{ .Values.name }}-selfsigned-issuer"
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ .Values.name }}-server-ca"
spec:
  isCA: true
  commonName: "{{ .Values.name }}-selfsigned-server-ca"
  secretName: "{{ .Values.name }}-server-ca-key-pair"
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: "{{ .Values.name }}-selfsigned-issuer"
    kind: Issuer
    group: cert-manager.io
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: "{{ .Values.name }}-server-ca-issuer"
spec:
  ca:
    secretName: "{{ .Values.name }}-server-ca-key-pair"
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ .Values.name }}-server-secret"
  labels:
    cnpg.io/reload: ""
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ .Values.name }}-server-cert"
spec:
  secretName: "{{ .Values.name }}-server-cert"
  usages:
    - server auth
  dnsNames:
    {{- if .Values.cnpgCluster.fullnameOverride }}
    - "{{ ..Values.cnpgCluster.fullnameOverride }}-rw"
    - "{{ ..Values.cnpgCluster.fullnameOverride }}-rw.{{ .Release.Namespace }}"
    - "{{ ..Values.cnpgCluster.fullnameOverride }}-rw.{{ .Release.Namespace }}.svc"
    - "{{ ..Values.cnpgCluster.fullnameOverride }}-r"
    - "{{ ..Values.cnpgCluster.fullnameOverride }}-r.{{ .Release.Namespace }}"
    - "{{ ..Values.cnpgCluster.fullnameOverride }}-r.{{ .Release.Namespace }}.svc"
    - "{{ ..Values.cnpgCluster.fullnameOverride }}-ro"
    - "{{ ..Values.cnpgCluster.fullnameOverride }}-ro.{{ .Release.Namespace }}"
    - "{{ ..Values.cnpgCluster.fullnameOverride }}-ro.{{ .Release.Namespace }}.svc"
    {{- else }}
    - "cnpg-cluster-rw"
    - "cnpg-cluster-rw.{{ .Release.Namespace }}"
    - "cnpg-cluster-rw.{{ .Release.Namespace }}.svc"
    - "cnpg-cluster-r"
    - "cnpg-cluster-r.{{ .Release.Namespace }}"
    - "cnpg-cluster-r.{{ .Release.Namespace }}.svc"
    - "cnpg-cluster-ro"
    - "cnpg-cluster-ro.{{ .Release.Namespace }}"
    - "cnpg-cluster-ro.{{ .Release.Namespace }}.svc"
    {{- end }}
  issuerRef:
    name: "{{ .Values.name }}-server-ca-issuer"
    kind: Issuer
    group: cert-manager.io
{{- end }}
